<div class="formulario">
    <form>
        <input placeholder="Nombre" class="entra">
        <br>
        <input placeholder="Correo" id="Correo">
        <br>
        <input placeholder="Contraseña" id="Contraseña">
        <br>
        <input placeholder="Confirma Contraseña" id="ConfContraseña">
        <br>
        <input placeholder="Fecha nacimiento" id="fecha">
        <br>
        <button class="btn-btn-primary" routerLink="/">Cancerlar</button>
        <button>guardar</button>
        
    </form>
</div>

